
html{
    background-image: url("../res/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

  
body{
    margin: 0px;
    padding: 0px;
}

#gone{
    display: none;
}

#bodycontainer1{
    /* background-image: url("/../res/1.png");
    background-repeat: no-repeat; */
    width: 100%;
    height: 720px;
    display: default;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1{
    width: 360px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container1 h1{
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
}

.nickbox{
    width: 85%;
    height: 60px;
    background: ghostwhite;
    border-radius: 8px;
    margin: auto;
    margin-top: 90px;
}

.nickbox input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 56px;
    font-size: 23px;
}

.container1 #btn{
    width: 70%;
    height: 60px;
    background: grey;
    border-radius: 8px;
    margin: 14px auto;
    display: block;
    font-size: 23px;
    border: none;
    color: white;
    cursor: pointer;
}

.container1 #btn_total{
    width: 60%;
    height: 55px;
    background: grey;
    border-radius: 5px;
    margin: 14px auto;
    display: block;
    font-size: 23px;
    border: none;
    color: white;
    cursor: pointer;
}

/* mainquiz */

#bodycontainer2{
    background-image: url("../res/background.png");
    background-repeat: round;
    background-size: contain;
    display: none;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container2 progress{
    float: right;
    margin-top: -8%;
    margin-right: 20px;
}

.container2 .box{
    background-color: white;
    width: 80%;
    height: 230px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 20px;
    border: none;
}

.box img{
    display: block;
    margin: 0 auto;
}

.box .question{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
}

.ansrow-1{
    width: 50%;
    height: 80px;
    float: left;
    text-align: center;
}

.ansrow-1 input[type="radio"]{
    display: none;
}

.ansrow-1 label {
    display:inline-block;
    background-color:#ddd;
    padding: 10px 0px;
    font-size:16px;
    margin-top: 1px;
    border: 1px solid #444;
    width: 98%;
}

.ansrow-1 input[type="radio"]:checked + label { 
    background-color:#bfb;
    border-color: #4c4;
}

.ansrow-1 label:hover {
    background-color: #dfd;
  }

  .ansrow-2{
    width: 50%;
    float: left;
    padding-left: 0%;
    text-align: center;
}

.ansrow-2 input[type="radio"]{
    display: none;
}

.ansrow-2 label {
    display:inline-block;
    background-color:#ddd;
    padding: 10px 0px;
    font-size:16px;
    margin-top: 1px;
    border: 1px solid #444;
    width: 98%;
}

.ansrow-2 input[type="radio"]:checked + label { 
    background-color:#bfb;
    border-color: #4c4;
}

.ansrow-2 label:hover {
    background-color: #dfd;
  }

 #ans-4, #ans-8, #ans-2, #ans-6{
    margin-top: 20px;
}

.container2 .btn{
    width: 60%;
    height: 60px;
    background: lightslategray;
    border-radius: 8px;
    margin: 28px auto 10px auto;
    display: block;
    font-size: 23px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: aqua;
    color: grey;
}

/* score */
#bodycontainer3{
    background-image: url("../res/background.png");
    background-repeat: round;
    background-size: contain;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    display: none;
    height: 720px;
    margin: 0px;
    padding: 0px;
}

.container3 h2{
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 28px;
}

#nickname{
    font-family: 'jokerman';
}

.container3 h1{
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 15px;
}

.container3 #score{
    text-align: center;
    color: white;
    font-size: 40px;
}

.container3 #tf{
    width: 60%;
    height: 310px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
    border-radius: 4px;
    color: black;
    margin: 20px auto;
    padding: 20px;
    font-size: 18px;
}

#tf .tf1, .tf2{
    width: 50%;
    float: left;
}





#lds-ring {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    float: right;
    padding: 5px;
    visibility: hidden;
  }
  #lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  #lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  #lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  #lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-height: 290px) and (min-height: 280px) and (orientation: landscape){
    html{
        background-image: url("../res/puter.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container1{
        visibility: hidden;
    }
}